<div class="footer text-white ">
<div class="container p-5">
    <div class="row">
        <div class="col-md-4">
            <div class="location text-center">
                <h2>location</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" text-center">
                <h2>AROUND THE WEB</h2>
                <div class="">
                <i  class="icon fa-brands fa-facebook-f  mx-1"></i>
                <i  class="icon fa-brands fa-twitter   mx-1"></i> 
                <i  class="icon fa-brands fa-linkedin   mx-1"></i> 
                <i  class="icon fa-solid fa-globe mx-1"></i> 
            </div>  
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>
<div class="text-center footer2 py-4"><p class="text-white m-0">Copyright © Your Website 2021</p></div>
</div>
