<div class="container mt-5 w-75">
    <div  class="text-center pt-5 port">
        <h2  class="mb-3 fs-2 fw-bolder">PORTFILIO COMPONENT</h2>
        <div  class="d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3"></div>
            
            <i class="fa-solid fa-star"></i>
    
            <div class="line ms-3"></div>
            
        </div>
    </div>
    <div class="row gy-4 mt-3 mb-4">
        <div class="col-lg-4 col-md-6" >
            <div class="rounded-3 overflow-hidden position-relative" > 
            <img src="assets/images/port1.png" class="w-100 rounded"  alt="">
            <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center" >
                <i  class="text-white fa-solid fa-plus fa-4x"></i>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="rounded-3 overflow-hidden position-relative"> 
            <img src="assets/images/port2.png" class="w-100 rounded">
            <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                <i  class="text-white fa-solid fa-plus fa-4x"></i>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="rounded-3 overflow-hidden position-relative"> 
            <img src="assets/images/port3.png" class="w-100 rounded">
            <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                <i  class="text-white fa-solid fa-plus fa-4x"></i>
            </div>
        </div>
        </div>
         <div class="col-lg-4 col-md-6">
            <div class="rounded-3 overflow-hidden position-relative"> 
            <img src="assets/images/port1.png" class="w-100 rounded">
            <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                <i  class="text-white fa-solid fa-plus fa-4x"></i>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="rounded-3 overflow-hidden position-relative"> 
            <img src="assets/images/port2.png" class="w-100 rounded">
            <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                <i  class="text-white fa-solid fa-plus fa-4x"></i>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="rounded-3 overflow-hidden position-relative"> 
            <img src="assets/images/port3.png" class="w-100 rounded">
            <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                <i  class="text-white fa-solid fa-plus fa-4x"></i>
            </div>
        </div>
        </div>
       
    </div>
</div>



